modules = ["vue-node-20", "nodejs-20", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["imagemagick"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 3001

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]


[userenv.shared]
VITE_SSAAM_STUDENTS_API_KEY = "SSAAMStudents"
VITE_SSAAM_API_KEY = "SSAAMRegJRMSU"
NODE_ENV = "development"
PORT = "3001"
CLOUDINARY_CLOUD_NAME = "devnpfjiu"
SSAAM_API_KEY = "SSAAMRegJRMSU"
SSAAM_CRYPTO_KEY = "SSAAM2025CCS"
ADMIN_VERIFICATION_SECRET = "SSAAMAdminVerify"
GMAIL_ACCOUNTS = "[     { user: \"pabbly.bot.1@gmail.com\", pass: \"ofmuqxxtxktmflpe\" },     { user: \"acchelp283@gmail.com\", pass: \"lpnkmuszdpstqfkj\" },     { user: \"holdacc31@gmail.com\", pass: \"akirzhsqplridphz\" },     { user: \"ssaamjrmsu@gmail.com\", pass: \"cwkqguvsgyrzrnba\" },     { user: \"keny46514@gmail.com\", pass: \"lcketsitjhuxekqd\" },     { user: \"pabbly.bot.2@gmail.com\", pass: \"yjmglrbnftmvxkov\" },     { user: \"kencath0@gmail.com\", pass: \"rflwxmdmopcsskks\" },     { user: \"kencath139@gmail.com\", pass: \"uxoxmbddqvlsatim\" } ]"
JWT_SECRET = "fe988d514cc5afc70177ddb9628a24cc638f436eeebf6bce2ec63e1cf7d54df79e82811e50c0e5a518764cdb75e3cb026ac15fabb2ba75ee4620ce28a7bc18a3"
MONGODB_URI = "mongodb+srv://SSAAM:ssaam.admin.jrmsu@cluster0.bnwy9iy.mongodb.net/dbconnect?retryWrites=true&w=majority"

[userenv.development]
VITE_API_URL = ""

[userenv.production]
VITE_API_URL = ""
